body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    /* justify-content: center; */
    /* align-items: center;  */
    height: 100vh;
    margin: 0;
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 800px;
    height: 500px;
}

select {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    position: relative;
    left: 0px;
    top: 20%;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
}

#map {
    position: absolute;
    right: 650px;
    bottom: 30%;
    width: 600px;
    height: 450px;
    border: 1px solid #ccc;
    margin: 10px;
}

#goToPageButton {
    font-family: 'Roboto';
    font-size: large;
    font-weight: bold;
    width: 50px;
    height: 25px;
    position: relative;
    left: 75px;
    top: 20%;
    
}

.homePageDropdown {
    width: 185px;
    height: 40px;

}
